.searchFormContainer {
  margin: 0 auto;
}

.formRow {
  display: flex;
  flex-direction: column;
}

.formElement {
  margin-bottom: 10px;
}

.formElement > div {
  text-align: left;
  margin: 0;
}

.dropdown {
  position: absolute;
  text-align: left;
  font-size: 13px;
  background-color: #dedede;
  max-height: 80px;
  border-radius: 0 0 4px 4px;
  padding: 5px 7px;
  box-shadow: 2px 3px 20px 0px rgba(0, 0, 0, 0.2);
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  cursor: pointer;
}

.dropdown > li {
  padding: 2px 0;
}

/* Add border bottom and margin to every list item except last one */
.dropdown > li:not(li:last-of-type) {
  border-bottom: 1px solid #cfcece;
  margin-bottom: 2px;
}

@media screen and (min-width: 450px) {
  .searchFormContainer {
    text-align: center;
  }

  .formElement > div,
  .searchFormContainer button {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .searchFormContainer {
    margin-top: 20px;
  }

  .formRow {
    flex-direction: row;
    align-items: center;
  }

  .formRow div:first-child {
    margin-right: 25px;
  }

  .formElement > div,
  .searchFormContainer button {
    width: 100%;
  }

  .formElement {
    width: 50%;
    margin-bottom: 20px;
  }

  .dropdown {
    max-height: 60px;
  }
}
