.results {
  margin-top: 20px;
  display: grid;
  gap: 10px;
}

.gridItem {
  padding: 10px 5px;
  border-bottom: 1px solid #a2a1a1;
}

.footprint {
  grid-column: 1/-1;
  display: grid;
  gap: 10px;
}

/* grid section title (i.e. departure airport, arrival airport, etc.) */
.gridItem > div:first-child {
  color: var(--accent-color);
  font-weight: bold;
  margin-bottom: 8px;
}

/* last grid with change search and new search buttons */
.gridItem:last-of-type {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0;
}

/* change search and new search buttons */
.gridItem > button {
  font-size: 13px;
  margin-top: 0;
}

.gridItem > .newSearchBtn {
  margin-top: 10px;
}

.error {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  /* last grid with change search and new search buttons */
  .gridItem:last-of-type {
    flex-direction: row;
  }

  .gridItem > .changeSearchBtn {
    margin-right: 10px;
  }

  .gridItem > .newSearchBtn {
    margin-top: 0;
  }
}

@media screen and (min-width: 700px) {
  .results {
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .footprint {
    grid-template-columns: repeat(2, 1fr);
  }

  .footprint > div:last-child {
    padding: 0 5px;
  }
}
